* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    text-align:center;
}

ul {
    list-style: inside;
}

img {
    width: 100%;
}

.container {
    background-color: #eee;
    margin-left: 50px;
}

#special {
    color: brown;
}

.also-special {
    color: brown;
}

a {
    font-size: 22px;
    background-color: rebeccapurple;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    padding: 15px;
    
}
nav {
    /* background-color: red; */
    /* height: 100px; */
    margin-bottom: 50px;
}
a:hover{
    font-size: 25px;
}